* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  height: 100vh;
}

.header {
  font-size: 2rem;
  padding: 2.5rem 0;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: rgba(2, 48, 71, 0.7);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  transition: transform 0.25s ease-in;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.active-btn {
  background-color: rgba(2, 48, 71, 1);
}

.grid-container {
  box-shadow: 10px 10px 40px -25px silver;

  display: flex;
  flex-wrap: wrap;

  height: 700px;
  width: 700px;
}

.grid {
  border: 0.5px solid silver;
  transition: background-color 0.1s linear;
}

.attribution {
  padding: 1rem 0;
  text-align: center;
}

.attribution a {
  color: rgb(2, 48, 71);
  font-weight: 700;
}
